.container {
    border: 0;
	padding: 0;
	flex-wrap: nowrap;
}

p {
	margin: 0;
	margin-bottom: 0px;
}

li a {
	color: white;
}


.nav-row {
	flex-wrap: nowrap;
	color: white;
}

ul.topmost-nav {
	flex-wrap: nowrap;
}

a.nav-link {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.first-row {
    background-image: url('Utilities/7360.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px;
}

img.logo-nav {
	max-height: 40px;
	min-height: 10px;
	max-width: 100%;
	border-radius: 50%;
	padding-top: 0px;
}

.jumbotron-text {
	padding-top: 0;
	background: none;
	color: white;
	padding-top: 1.5rem;
	padding-bottom: 100px;
	text-align: justify;
}

.jumbotron-text p {
	font-size: 100%;
}

.jumbotron-text h1 {
	font-size: 100%;
	margin-top: 5px;
}

button.more {
	margin-top: 10px;
	background-color: aqua;
	color: white;
	padding: 5px;
	font-size: .8rem;
	width: 4rem;
}

.second-row {
	padding: 20px;
}

.tab-box {
	margin-top: -70px;
	margin-right: 15px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 1px 1px 2px;
	padding: 10px;
	border: 1px solid white;
	/* max-height: 230px; */
}

h3.box-heading {
	color: darkturquoise;
	margin: 0px;
	margin-top: 5%;
}

p.boxp-1 {
	font-weight: bolder;
	padding-right: 1px;
	margin-bottom: 0px;
	text-align: justify;
	
}

.third-row {
/*	background-image: url('');*/
	background-color: rgb(15, 4, 66);
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

iframe {
	margin-top: 5px;
	margin-left: 5px;
	width: 100%;
	min-height: 300px;
}

.last-box {
	border: 1px solid rgb(15, 94, 168);
	margin-bottom: 5px;
}

h4.choose-heading {
	font-size: 90%;
}

p.choose-p {
	font-size: 80%;
	padding-bottom: 2px;
}

a.home {
    color: aqua;
}

p.lead {
	text-align: left;
}

span {
	color: white;
}

ul.topmost-nav {
	margin-left: 30px;
}

img.contact-img {
	height: 15px;
}

a.blue-i {
    color: aqua;
    padding-top: 5px;
}

span.pro {
	background-color: rgb(7, 187, 187);;
	font-size: 80%;
	padding-left: 2px;
	padding-right: 2px;
	
}


@media screen and (max-width: 680px){
	.nav-col {
		position: relative;
		padding-left: 1px;
		padding-right: 1px;
	}

	.last-box {
		padding: 0px;
	}

	h4.choose-heading {
		text-align: left;
	}

	.choose-box {
		padding: 0px;
	}

	div.blue-li {
		padding: 0px;
	}


	img.logo-nav {
		min-height: 20px;
		min-width: 30px;
		margin-top: 1rem;
	}
	
	.tab-box {
		margin-top: -65px;
		margin-bottom: 70px;
	}
}


