.container {
    border: 0;
	padding: 0;
	flex-wrap: nowrap;
}

p {
	margin: 0;
	margin-bottom: 0px;
}

li a {
	color: white;
}

.nav-row {
	flex-wrap: nowrap;
}

ul.topmost-nav {
	flex-wrap: nowrap;
}

a.nav-link {
	padding: 1.5rem 1.5rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.first-row {
    background-image: url('Utilities/7360.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px;
}


img.logo-nav {
	max-height: 40px;
	min-height: 10px;
	max-width: 100%;
	border-radius: 50%;
}

.jumbotron-text {
	padding-top: 0;
	background: none;
	color: white;
	padding-top: 1.5rem;
	padding-bottom: 100px;
	text-align: justify;
}

.jumbotron-text h1 {
	font-size: larger;
	margin-top: 5px;
}

.jumbotron-text p {
	font-size: .9rem;
}

button.more {
	margin-top: 10px;
	background-color: aqua;
	color: white;
	padding: 5px;
	font-size: .8rem;
	width: 4rem;
}

.second-row {
	padding: 20px;
}

.tab-box {
	margin-top: -10%;
	margin-right: 15px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 1px 1px 2px;
	padding: 10px;
	max-width: 80px;
	/* max-height: 230px; */
}

h3.box-heading {
	color: darkturquoise;
	margin: 0px;
	margin-top: 10%;
}

p.boxp-1 {
	font-weight: bolder;
	margin-bottom: 0px;
}

p.boxp-2 {
	font-size: .8rem;
}

.third-row {
/*	background-image: url('');*/
	background-color: rgb(15, 4, 66);
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

iframe {
	margin-top: 5px;
	height: 200px;
}

p.small-text {
	font-size: .8rem;
}

.last-box {
	border: 1px solid rgb(15, 94, 168);
	margin: 7px;
}

h4.choose-heading {
	font-size: 1rem;
}

p.choose-p {
	font-size: .7rem;
}

a.home {
    color: aqua;
}

ul.topmost-nav {
	margin-left: 30px;
}

img.contact-img {
	height: 15px;
}

a.blue-i {
    color: aqua;
    padding-top: 5px;
}

span.pro {
	background-color: rgb(7, 187, 187);
	padding-left: 5px;
	padding-right: 5px;
	height: 1px;
}


@media screen and (max-width: 680px){
	li.nav-item a {
		font-size: 12px;
		/* color: chocolate; */
	}

	.nav-col {
		width: 70%;
		position: relative;
		padding-left: 1px;
		padding-right: 1px;
	}

}
	ul.topmost-nav {
		margin-left: 1%;
		display: flex;
		flex-wrap: nowrap;
	}

	.first-row {
		background-image: url('Utilities/7360.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding: 25px;
	}

	p.boxp-2 {
		font-size: .7rem;
	}

	.last-box {
		padding: 0px;
	}

	h4.choose-heading {
		text-align: left;
	}

	p.choose-p {
		font-size: .4rem;
	}

	.choose-box {
		padding: 0px;
	}

	div.blue-li {
		padding: 0px;
	}

	a.blue-i {
		padding-left: 6%;
	}

	a.nav-link {
		padding: .7rem .5rem;
	}

	img.logo-nav {
		min-height: 20px;
		min-width: 40px;
	}
}